body{
    background-color: beige;
    font-family: arial,sans-serif;
}

.flex-container{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap; sirve para acomodar los contenedores*/
    flex-flow: row wrap;/*sirve como las dos oopciones anteriores pero solo en una linea*/
    justify-content: center;
    align-content: center;
    /*justify-content: space-between; /* sirve para centrar y que halla un espacio entre ellos*/
    /*align-items: flex-start;*/
    /*justify-content: space-around; permite que halla el mismo espacion entre los elementos*/
    /*justify-content: center;centra todo*/
    width: 80%;
    height: 600px;
    margin: 0 auto;

}


.box{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;      /*define el color de la letra*/
    font-family: 'Courier New', Courier, monospace;  /*Estilo de letra*/
    font-weight: bold;          
    width: 200px;
    height: 200px;
    line-height: 120px; 
    text-align: center; /*Centrar linea de texto verticalmente*/
    margin: 5px;
    overflow: hidden;
}

.c1{
    background:lightblue;
    /*order: 4;Esto permite reordenar las cajas si quiero que en la 4 este la 1*/
    flex-grow: 1; /*estp permnite la prioridad de tamaño en las cajas mayor numero mas grande*/
}

.c2{
    background:lightcoral;
    /*order 3;Esto permite reordenar las cajas si quiero que en la 4 este la 1*/
    flex-grow: 5; /*estp permnite la prioridad de tamaño en las cajas mayor numero mas grande*/
}

.c3{
    background:lightgreen;
    /*order 2; Esto permite reordenar las cajas si quiero que en la 4 este la 1*/
    flex-grow: 3; /*estp permnite la prioridad de tamaño en las cajas mayor numero mas grande*/
}

.c4{
    background: lightgray;
    /*order: 1; Esto permite reordenar las cajas si quiero que en la 4 este la 1*/
    flex-grow: 2; /*estp permnite la prioridad de tamaño en las cajas mayor numero mas grande*/
}


