.container{
    background-color: khaki;
    padding: 5px;
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap-reverse;

}

.box{
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 15px;

    width: 150px;
}